.item{
    background-color: #fff;
    width:100% ;
    height: 200px;
    margin-left: 15px;
    border-radius: 5px;
}
.analise_percentual{
    background-color: #fff;
    width:100% ;
    height: 680px;
    margin-left: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.header_button{
    background-color: #fff;
    width: 97.9%;
    height: 100px;
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.charts{
    background-color: #fff;
    width: 48.5%;
    height: 250px;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.button_style{
    border-radius: 5px;
    background-color: #2b72e8;
    color: #fff;
    border: none;
    width: max-content;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.label{
    color: #000;
    margin-bottom: 4px;
}

.header_analise_percentual{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.containerGeral{
    background-color: #f3f3f8;
}